<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更改密码</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="container">
    <form action="#" method="post">
        请输入用户名：<input type="text" name = 'username' value = '请输入用户名'>
        <br>
        请输入新的密码：<input type="password"  name = 'password1' value = '请输入新的密码'>
        <br>
        请再次输入密码：<input type="password"  name = 'password2' value="请再次输入密码">
        <br>
        <input type="submit" value="更改">
        <br>


    </form>

</div>

</body>
</html>