<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <h2>就让投票开始吧！！！</h2>
        <ul>
            {% if allHeadline %}
            {% for headline in allHeadline %}
            <li><a href="{% url 'votetest:list' headline.id%}">{{headline.title}}</a></li>
            {% empty %}
            没有投票信息
            {% endfor %}

        </ul>
        {% else %}
        没有投票
        {% endif %}
    </div>






</body>
</html>