<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选项列表页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class = 'container'>


        {% if headline %}
        <form action="{% url 'votetest:list' headline.id %}" method="post">
            <h2>选项列表页</h2>

    <br>

        <ul>
            {% for head in headline.option_set.all %}
            <li><input type="radio" name = 'button' value='{{head.id}}'>{{ head.name }}</li>

            {% empty %}

            <li>没有选项</li>
            {% endfor %}
            <input type="submit" value="提交">
        </ul>
        {% else %}
        没有选项信息
        {% endif %}

    <a href="{% url 'votetest:index' %}">返回主页</a>



        </form>
   </div>
</body>
</html>