
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- css -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" property=""/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--// css -->
    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>
<body>
{% load extend_fun %}
<!-- Header -->
<div class="header">
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html"><h1>英雄 <img src="/static/images/c1.png" alt=" "/> 介绍</h1></a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hover-effect"><a href="{% url 'gametest:index' %}">Home</a></li>
                    <li class="hover-effect"><a href="{% url 'gametest:about' %}">About</a></li>
                    <li class="hover-effect"><a href="{% url 'gametest:games' %}">Games</a></li>
                    <li class="hover-effect"><a href="{% url 'gametest:detail' %}">Detail</a></li>
                    <li class="hover-effect"><a href="{% url 'gametest:contact' %}">Contact</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- //Navbar -->

    <!-- Slider -->
    <div class="slider">
        <ul class="rslides" id="slider">
            <li>
                <img src="/static/images/武器大师.jpg" alt=""/>
            </li>
            <li>
                <img src="/static/images/杰斯.jpg" alt=""/>
            </li>
            <li>
                <img src="/static/images/金克斯.jpg" alt=""/>
            </li>
        </ul>
    </div>
    <!-- //Slider -->

</div>
<!-- Banner-Slider-JavaScript -->
<script src="/static/js/responsiveslides.min.js"></script>
<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 800,
				namespace: "callbacks",
				pager: true,
			});
		});

</script>
<!-- //Banner-Slider-JavaScript -->
<!-- //Header -->

<!-- trend 英雄轮播图-->
<div class="trend-w3layouts">
    <div class="container">

        {% getheros as heros %}
        <h2>英雄列表</h2>
        <ul id="flexiselDemo1">
            {% for hero in heros %}

                <li>
                <div class="trend-grid">
                    <h4>{{ hero.ads.desc }}</h4>

                    {% if hero.id %}
                     <a href="{% url 'gametest:single' hero.id %}"><img src="/static/media/{{ hero.ads.img }}" alt="丢失"></a>
                    {% endif %}
                </div>
                </li>

            {% endfor %}
        </ul>
        <script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 2
										}, 
										landscape: { 
											changePoint:640,
											visibleItems:3
										},
										tablet: { 
											changePoint:768,
											visibleItems: 4
										}
									}
								});
								
							});

        </script>
        <script type="text/javascript" src="/static/js/jquery.flexisel.js"></script>
    </div>
</div>
<!-- //trend -->


<!-- services-->
<div class="services-agileits-w3layouts">
    <div class="container">
        <h3>想了解更多？</h3>
        <div class="col-md-3 service-grid-agileits service-grid-agileits-top">
            <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
            <h4>去官方主页</h4>
            <p>没有找到想看的内容？那么请大力点击下面按钮！</p>
            <a href="https://lol.qq.com/">Go</a>
        </div>
        <div class="col-md-3 service-grid-agileits">
            <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
            <h4>官方资料库</h4>
            <p>觉得在这看的意犹未尽么？那么就点击下面按钮吧！</p>
            <a href="https://lol.qq.com/data/info-heros.shtml">Go</a>
        </div>
        <div class="col-md-3 service-grid-agileits service-grid-agileits-bottom">
            <span class="glyphicon glyphicon-yen" aria-hidden="true"></span>
            <h4>去官方商城</h4>
            <p>什么？看的心里蠢蠢欲动？想要购买周边商品？那还犹豫什么，点啊！</p>
            <a href="https://lolriotmall.qq.com/index.shtml?ADTAG=lol.rk.gw.top&adunionsid=gwtop">Go</a>
        </div>
        <div class="col-md-3 service-grid-agileits service-grid-agileits-bottom">
            <span class="glyphicon glyphicon-object-align-right" aria-hidden="true"></span>
            <h4>去看官方赛事</h4>
            <p>光看介绍不爽？想看官方赛事？请猛戳！</p>
            <a href="https://lpl.qq.com/es/lpl/2019/?ADTAG=innercop.lol.web.top">Go</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //services-->

<!-- new games -->
<div class="new-w3-agile">
    <div class="container">
        <h3>其他游戏</h3>
        <div class="col-md-3 new-grid-w3l view view-eighth">
            <img src="/static/images/ng1.jpg" alt=" "/>
            <div class="mask">
                <a href="{% url 'gametest:games' %}"><h4>点我</h4></a>
                <p>去看看</p>
            </div>
        </div>
        <div class="col-md-3 new-grid-w3l view view-eighth">
            <img src="/static/images/ng2.jpg" alt=" "/>
            <div class="mask">
               <a href="{% url 'gametest:games' %}"><h4>点我</h4></a>
                <p>去看看</p>
            </div>
        </div>
        <div class="col-md-3 new-grid-w3l view view-eighth">
            <img src="/static/images/ng3.jpg" alt=" "/>
            <div class="mask">
                <a href="{% url 'gametest:games' %}"><h4>点我</h4></a>
                <p>去看看</p>
            </div>
        </div>
        <div class="col-md-3 new-grid-w3l view view-eighth">
            <img src="/static/images/ng4.jpg" alt=" "/>
            <div class="mask">
               <a href="{% url 'gametest:games' %}"><h4>点我</h4></a>
                <p>去看看</p>
            </div>
        </div>
        <div class="col-md-3 new-grid-agile view view-eighth">
            <img src="/static/images/ng5.jpg" alt=" "/>
            <div class="mask">
               <a href="{% url 'gametest:games' %}"><h4>点我</h4></a>
                <p>去看看</p>
            </div>
        </div>
        <div class="col-md-3 new-grid-agile view view-eighth">
            <img src="/static/images/ng6.jpg" alt=" "/>
            <div class="mask">
               <a href="{% url 'gametest:games' %}"><h4>点我</h4></a>
                <p>去看看</p>
            </div>
        </div>
        <div class="col-md-3 new-grid-agile view view-eighth">
            <img src="/static/images/ng7.jpg" alt=" "/>
            <div class="mask">
              <a href="{% url 'gametest:games' %}"><h4>点我</h4></a>
                <p>去看看</p>
            </div>
        </div>
        <div class="col-md-3 new-grid-agile view view-eighth">
            <img src="/static/images/ng8.jpg" alt=" "/>
            <div class="mask">
               <a href="{% url 'gametest:games' %}"><h4>点我</h4></a>
                <p>去看看</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //new games-->

<div class="tlinks">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>

<div class="services-bottom-w3-agileits">
    <div class="container">
        <div class="wthree_info">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="wthree_info_grid">
                                <h3>Duis aute dolor reprehenderit</h3>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt officia.</p>
                                <a href="single.html" class="learn">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="wthree_info_grid">
                                <h3>Aliquip commodo consequat</h3>
                                <p>Curabitur lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a href="single.html" class="learn">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="wthree_info_grid">
                                <h3>Quis autem vel eum iure ea</h3>
                                <p>Phasellus ornare consectetur erat, eu vehicula orci finibus at.</p>
                                <a href="single.html" class="learn">Learn More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- flexSlider -->

            <script defer src="/static/js/jquery.flexslider.js"></script>
            <script type="text/javascript">
							$(window).load(function(){
							  $('.flexslider').flexslider({
								animation: "slide",
								start: function(slider){
								  $('body').removeClass('loading');
								}
							  });
							});

            </script>
            <!-- //flexSlider -->
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-left-w3">
            <h4>联系</h4>
            <ul>
                <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></li>
                <li><a href="mailto:example@mail.com"><h6>826918436@qq.com</h6></a></li>
            </ul>
            <ul>
                <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
                <li><h6>18903849270</h6></li>
            </ul>
            <ul>
                <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
                <li><h6>郑州金水西路月季公园</h6></li>
            </ul>
            <ul>
                <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></li>
                <li><h6>400 820 820 820</h6></li>
            </ul>
        </div>
        <div class="col-md-5 footer-middle-w3">
            <h4>猜你喜欢</h4>
			<div class="col-md-3 img-w3-agile">
				<a href="{% url 'gametest:single' 7 %}"><img src="/static/images/锤石.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href="{% url 'gametest:single' 2 %}"><img src="/static/images/诺手.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href="{% url 'gametest:single' 4 %}"><img src="/static/images/金克斯.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href="{% url 'gametest:single' 3 %}"><img src="/static/images/盲僧.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="{% url 'gametest:single' 12 %}"><img src="/static/images/科加斯.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="{% url 'gametest:single' 9 %}"><img src="/static/images/狐狸.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="{% url 'gametest:single' 10 %}"><img src="/static/images/剑圣.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="{% url 'gametest:single' 8 %}"><img src="/static/images/盖伦.jpg" alt=" " /></a>
			</div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 footer-right-w3">
			<a href="index.html"><h4>英雄 <img src="/static/images/f1.png" alt=" " /> 介绍</h4></a>
			<p>还喜欢本网站么？不喜欢也得喜欢！赶紧收藏加设为主页！</p>
			<p class="agileinfo">什么？你说很辣鸡？我心里当然有数!还用你说啊！</p>
		</div>
		<div class="clearfix"></div>
		<div class="copyright">
			<p>Copyright &copy; 2017.Company name LOL home. <a href="https://lol.qq.com/" target="_blank" title="英雄联盟之家">英雄联盟之家</a> - Collect from <a href="https://lol.qq.com/" title="网页模板" target="_blank">英雄联盟</a></p>
		</div>
    </div>
</div>

<!-- //footer -->
</body>
</html>